{% block conteudo %}            
                <div class="pedido-item not-found-box flex flex-align-center flex-space-around">
                    <img src="/img/404-nuvem.png">
                    <h1>{{mensagem}}</h1>
                </div> 
{% endblock %}