<div class="home-user-menu flex flex-column flex-space-between">
    <h1 class="page-title">Minha Conta</h1>
    <nav class="home-menu-nav flex flex-space-between flex-align-flex-end">
        <div class="title-content">
            <a href="/user-home"><li class="title flex flex-center-center">Pedidos</li></a>
        </div>
        <nav class="flex flex-space-between">
            <a href="/user-account"><li class="flex flex-center-center">Cadastro</li></a>
            <a href="/user-address"><li class="flex flex-center-center">Endereços</li></a>
            <a href="/user-logout"><li class="flex flex-center-center">Sair</li></a>
        </nav>
    </nav>
</div>