<header class="navegation ">
    <div class="menu flex flex-space-around-center">
        <nav class="business-area flex">
            <a href="/login"><li>CLIENTE</li></a>
            <a href="/shop-home"><li>LOJA</li></a>
            <a href="/carrinho"><li>CARRINHO</li></a>
        </nav>
        <a href="/"><img class="logo-menu" src="/img/logo.png" alt=""></a>
        <div class="account">
        </div>
    </div>
    <div class="sub-menu flex">
        <nav class="sub-menu-navegation flex flex-space-between-center">
          <li>Promoções</li>
          <li>Hamburger</li>
          <li>Sushi</li>
          <li>Massas</li>
          <li>Sobremesas</li>
          <li>Bebidas</li>
        </nav>
    </div>
</header>
