<div class="home-user-menu flex flex-column flex-space-between">
    <h1 class="page-title">Minha Loja</h1>
    <nav class="home-menu-nav flex flex-space-between flex-align-flex-end">
        <div class="title-content">
            <a href="/shop-home"><li class="title flex flex-center-center">Pedidos</li></a>
        </div>
        <nav id="nav-shop" class="flex flex-space-between">
            <a href="/shop-account"><li class="flex flex-center-center">Cadastro</li></a>            
            <a href="/shop-address"><li class="flex flex-center-center">Endereço</li></a>
            <a href="/shop-products"><li class="flex flex-center-center">Produtos</li></a>
            <a href="/shop-logout"><li class="flex flex-center-center">Sair</li></a>
        </nav>
    </nav>
</div>